#face {
    position: relative;
    z-index: -2;

}

#hour {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: 0;

}

#minute {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -1;

}

#second {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;

}

