#face {
    position: relative;

}

#hour {
    position: absolute;
    top: -20px;
    left: 10px;

}

#minute {
    position: absolute;
    top: -20px;
    left: 10px;

}

#second {
    position: absolute;
    top: 0px;
    left: 10px;

}

